<%@ Master Language="C#" AutoEventWireup="true" CodeFile="mptamp.master.cs" Inherits="MasterPages_mptamp" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Aplikasi Almis</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>



    <link rel="shortcut icon" href="../images/logo_adaro.jpg" type="image/x-icon" />	
        <%--css dhtmlx--%>


  
    <link rel="stylesheet" type="text/CSS" href="../JavaScript/codebase/dhtmlxtabbar.css" />
    <link rel="stylesheet" type="text/CSS" href="../JavaScript/codebase/dhtmlxcalendar.css" />
    <link rel="stylesheet" type="text/CSS" href="../JavaScript/dhtmlxsuite/dhtmlxgrid/codebase/dhtmlxgrid.css" />
    <link rel="stylesheet" type="text/CSS" href="../JavaScript/codebase/skins/dhtmlxgrid_dhx_skyblue.css" />
    <link rel="stylesheet" type="text/CSS" href="../JavaScript/codebase/skins/dhtmlxaccordion_dhx_blue.css" />
    <link rel="stylesheet" type="text/CSS" href="../JavaScript/dhtmlxsuite/dhtmlxtoolbar/codebase/skins/dhtmlxtoolbar_dhx_skyblue.css" />
    <link rel="stylesheet" type="text/CSS" href="../JavaScript/codebase/skins/dhtmlxgrid_pgn_bricks.css" />
    <link rel="stylesheet" type="text/CSS" href="../JavaScript/dhtmlxsuite/dhtmlxCombo/codebase/dhtmlxcombo.css" />
    <%--<link rel="stylesheet" type="text/CSS" href="../JavaScript/dhtmlxSuite/dhtmlxchart/codebase/dhtmlxchart.css" />--%>
    <link rel="stylesheet" type="text/CSS" href="../JavaScript/dhtmlxSuite/dhtmlxLayout/codebase/dhtmlxlayout.css" />
    <link rel="stylesheet" type="text/CSS" href="../JavaScript/dhtmlxSuite/dhtmlxLayout/codebase/skins/dhtmlxlayout_dhx_skyblue.css" />
    <link rel="stylesheet" type="text/CSS" href="../JavaScript/dhtmlxSuite/dhtmlxWindows/codebase/dhtmlxwindows.css" />
    <link rel="stylesheet" type="text/CSS" href="../JavaScript/dhtmlxSuite/dhtmlxWindows/codebase/skins/dhtmlxwindows_dhx_skyblue.css" />

    <script src="../JavaScript/codebase/dhtmlxcommon.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxTabbar/codebase/dhtmlxtabbar.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxTabbar/codebase/dhtmlxtabbar_start.js" type="text/javascript"></script>
<%--    <script src="../JavaScript/dhtmlxSuite/dhtmlxCalendar/codebase/dhtmlxcalendar.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxAccordion/codebase/dhtmlxaccordion.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxAccordion/codebase/dhtmlxcontainer.js"type="text/javascript"></script>--%>
    <script src="../JavaScript/codebase/dhtmlxgrid.js" type="text/javascript"></script>
    <script src="../JavaScript/codebase/dhtmlxgridcell.js" type="text/javascript"></script>
    <script src="../JavaScript/codebase/excells/dhtmlxgrid_excell_link.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxLayout/codebase/dhtmlxlayout.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxLayout/codebase/dhtmlxcontainer.js" type="text/javascript"></script>
<%--    <script src="../JavaScript/dhtmlxSuite/dhtmlxTree/codebase/dhtmlxtree.js" type="text/javascript" ></script>
--%>    <script src="../JavaScript/codebase/excells/dhtmlxgrid_excell_link.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxGrid/codebase/ext/dhtmlxgrid_srnd.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxGrid/codebase/ext/dhtmlxgrid_filter.js" type="text/javascript"></script>
    <script src="../JavaScript/codebase/ext/dhtmlxgrid_pgn.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxsuite/dhtmlxtoolbar/codebase/dhtmlxToolbar.js" type="text/javascript"></script>
    <script src="../JavaScript/codebase/ext/dhtmlxgrid_group2.js" type="text/javascript"></script>
<%--    <script src="../JavaScript/dhtmlxSuite/dhtmlxchart/codebase/dhtmlxchart.js" type="text/javascript"></script>
--%>    <script src="../JavaScript/dhtmlxSuite/dhtmlxCombo/codebase/dhtmlxcombo.js" type="text/javascript"></script>
    <script src="../JavaScript/codebase/ext/dhtmlxgrid_nxml.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxWindows/codebase/dhtmlxwindows.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxWindows/codebase/dhtmlxcontainer.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxCombo/codebase/ext/dhtmlxcombo_extra.js"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxLayout/sources/patterns/dhtmlxlayout_pattern4g.js" type="text/javascript"></script>

    <script type="text/javascript">        djConfig = { parseOnLoad: true }</script>
    <script type="text/javascript" language="javascript">
        try {

        }
        catch (e) {
            alert(e.description);
        }
    </script>
      

    <%--Akhir Dhtmlx--%>


    <%--Awal Bootstrap--%>
  
 

<%--<link href="../Css/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Css/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />--%>
<%--
    <link href="../Css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../Css/bootstrap/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />

    <script src="../Css/bootstrap/js/bootstrap.js" type="text/javascript"></script>--%>
   <%-- <script src="../Css/bootstrap/js/npm.js" type="text/javascript"></script>--%>

    
    <link href="../Css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../Css/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="../Css/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <%--Akhir Bootstrap--%>




    <script src="../Javascript/lookup.js"></script>


    <script src="../JavaScript/jquery.min.js" type="text/javascript"></script>
    <script src="../JavaScript/jquery-ui-1.10.3.custom.js" type="text/javascript"></script>
    <link rel="Stylesheet" type="text/css" href="../css/jquery-ui-1.10.3.custom.css" />

    <link href="../Css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <script src="../Javascript/angka.js"></script>


    <!-- Bootstrap core CSS -->
    <link href="../Css/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!--external css-->
    <link href="../Css/tampilan/font-awesome.css" rel="stylesheet" />
    <link href="../Css/tampilan/jquery.gritter.css" rel="stylesheet" />

<%--    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/js/gritter/css/jquery.gritter.css" />--%>
        
    <!-- Custom styles for this template -->

    <link href="../Css/tampilan/style.css" rel="stylesheet" />
    <link href="../Css/tampilan/style-responsive.css" rel="stylesheet" />

<%--    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">--%>

<body>

      <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Menu Almis"></div>
              </div>
            <!--logo start-->
            <a href="../Pages/home.aspx" class="logo"><b>Adaro Land Management Information System</b></a>
            <!--logo end-->

            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="../Pages/Logout.aspx">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
 <%--             <img src="../images/logo_adaro.png" width="120px" height="120px" alt=""/>--%>
              	  <p class="centered"><a href="../Pages/Home.aspx"><img src="../images/logo_adaro.png" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">                  
                    <b><u><asp:Label ID="lblnm" runat="server" Text=""></asp:Label></u></b>
                     <br />
                    <asp:Label ID="lbljb" runat="server" Text=""></asp:Label>
              	  </h5>

              	  	
<%if (  praregistrasi.ToString().Equals("1") ||
        PengecekanLapangan.ToString().Equals("1") ||
        Registrasi.ToString().Equals("1") ||
        PengukuranT0.ToString().Equals("1")||
        Negosiasi.ToString().Equals("1") ||
        Verifikasi.ToString().Equals("1") ||
        Pemberkasan.ToString().Equals("1") ||
        Pembayaran.ToString().Equals("1") ||
        Finalisasi.ToString().Equals("1") ||
        SerahTerimaBerkas.ToString().Equals("1") ||
        groups.ToString().Equals("1")
      )
{    
%>
              <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Land Compensation</span>
                      </a>
                      <ul class="sub">

         <%if (praregistrasi.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %>                        
                        <li><a href="../Pages_Landcomp/PraRegistrasiList.aspx">Pra Register</a></li>
         <%}%> 

         <%if (PengecekanLapangan.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Landcomp/PengecekanLapanganList.aspx">Pengecekan Lapangan</a></li>
         <%}%> 

         <%if (Registrasi.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
	                    <li><a href="../Pages_Landcomp/RegistrasiList.aspx">Registrasi</a></li>
         <%}%> 

         <%if (PengukuranT0.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
	                    <li><a href="../Pages_Landcomp/PengukuranList.aspx">Pengukuran TO</a></li>
         <%}%> 

         <%if (Negosiasi.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Landcomp/NegosiasiList.aspx">Negosiasi</a></li>
         <%}%> 

         <%if (Verifikasi.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
	                    <li><a href="../Pages_Landcomp/VisumList.aspx">Verifikasi</a></li>
         <%}%> 

         <%if (Pemberkasan.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
	                    <li><a href="../Pages_Landcomp/PemberkasanSatuList.aspx">Pemberkasan</a></li>
        <%}%> 

         <%if (Pembayaran.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
	                    <li><a href="../Pages_Landcomp/PembayaranList.aspx">Pembayaran</a></li>
        <%}%> 

         <%if (Finalisasi.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
	                    <li><a href="../Pages_Landcomp/PemberkasanDuaList.aspx">Finalisasi</a></li>

        <%}%>

         <%if (SerahTerimaBerkas.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
	                    <li><a href="../Pages_Landcomp/SerahTerimaBerkas.aspx">Serah Terima Berkas</a></li>

        <%}%>
                      </ul>
              </li>

<%}%> 


<%if (  LandUse.ToString().Equals("1") ||
        groups.ToString().Equals("1")
      )
{    
%>
              <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Land Use</span>
                      </a>
                      <ul class="sub">
                        <li><a href="#">Project</a></li>
                        <li><a href="#">Status Registrasi</a></li>
                        <li><a href="#">Tipe Registrasi</a></li>
                        <li><a href="#">Asset</a></li>
			            <li><a href="#">Progres Land Use</a></li>
                      </ul>
              </li>

<%}%> 


<%if (  LandSecure.ToString().Equals("1") ||
        groups.ToString().Equals("1")
      )
{    
%>
              <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Land Secure</span>
                      </a>
                      <ul class="sub">
                        <li><a href="#">Tipe Pengamanan</a></li>
                        <li><a href="#">Status Pengamanan</a></li>
                        <li><a href="#">Asset</a></li>
                      </ul>
              </li>

<%}%>


<%if (  KelasLahan.ToString().Equals("1") ||
        groups.ToString().Equals("1")
      )
{    
%>

             <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Land Utilization</span>
                      </a>
                      <ul class="sub">
         <%if (KelasLahan.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
		                <li><a href="../Pages_LandUtil/KelasLahanList.aspx">Kelas Lahan</a></li>
        <%}%>
                     </ul>
              </li>

<%}%>



<%if (  LandComplainceModul.ToString().Equals("1") ||
        groups.ToString().Equals("1")
      )
{    
%>
              <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Land Compliance</span>
                      </a>
                      <ul class="sub">

         <%if (LandComplainceModul.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Landcompla/LandcomplaList.aspx">Land Compliance</a></li>
                        <li><a href="../Pages_Landcompla/UpdateDataForm.aspx">Update Data Compliance</a></li>
                          
        <%}%>
                      </ul>
              </li>
<%}%>


<%if (  ClaimUser.ToString().Equals("1") ||
        PersiapanDokumen.ToString().Equals("1") ||
        VerifikasiDokumen.ToString().Equals("1") ||
        Legal.ToString().Equals("1") ||
        groups.ToString().Equals("1")
      )
{    
%>
              <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Land Litigation</span>
                      </a>
                      <ul class="sub">

         <%if (ClaimUser.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_LandLiti/KlaimUserList.aspx">Claim User</a></li>
        <%}%>

         <%if (PersiapanDokumen.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <%--<li><a href="../Pages_LandLiti/PersiapanDocumentList.aspx">Persiapan Dokumen </a></li>--%>
        <%}%>

         <%if (VerifikasiDokumen.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_LandLiti/VerifikasiList.aspx">Verifikasi Dokumen</a></li>
        <%}%>

         <%if (Legal.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_LandLiti/LegalList.aspx">Legal</a></li>
        <%}%>

                      </ul>
              </li>

<%}%>


<%if (  Persiapan.ToString().Equals("1") ||
        ProsesPengurusan.ToString().Equals("1") ||
        ProsesIzinLokasi.ToString().Equals("1") ||
        Pelaporan.ToString().Equals("1") ||
        groups.ToString().Equals("1")
      )
{    
%>
            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Izin Lokasi</span>
                </a>
                      <ul class="sub">

         <%if (Persiapan.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Reminder/PersiapanList.aspx">Persiapan</a></li>
        <%}%>

         <%if (ProsesPengurusan.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Reminder/ProsesPengurusanList.aspx">Proses Pengurusan</a></li>
        <%}%>

         <%if (ProsesIzinLokasi.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Reminder/ProsesIzinLokasiList.aspx">Proses Izin Lokasi</a></li>
        <%}%>

         <%if (Pelaporan.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Reminder/PelaporanList.aspx">Pelaporan</a></li>
        <%}%>

                      </ul>

            </li>
<%}%>



<%if (  ProsesLandManagement.ToString().Equals("1") ||
        PersiapanInternal.ToString().Equals("1") ||
        TahapanProsesBPN.ToString().Equals("1") ||
        TahapanPerolehanProduk.ToString().Equals("1") ||
        groups.ToString().Equals("1")
      )
{    
%>
              <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Land Certification</span>
                      </a>
                      <ul class="sub">
 <%--                   <li><a href="../Pages_LandCert/ServicesProjectList.aspx">Request Form</a></li>
                        <li><a href="../Pages_LandCert/FirstCoordinationMeetingList.aspx">First Coordination Meeting</a></li>
                        <li><a href="../Pages_LandCert/PropoalLandManagementServicesList.aspx">Propoal Land Management Services</a></li>
                        <li><a href="../Pages_LandCert/LandManagementSupportList.aspx">Land Management Support</a></li>
			            <li><a href="../Pages_LandCert/LMSAddFileForm.aspx">LMS Add File</a></li>--%>

         <%if (ProsesLandManagement.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
		                <li><a href="../Pages_LandCert/ProsesLmsList.aspx">Proses Land Management Support</a></li>
        <%}%>

         <%if (PersiapanInternal.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_LandCert/PersiapanInternalList.aspx">Pesiapan Internal</a></li>
        <%}%>

         <%if (TahapanProsesBPN.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
			            <li><a href="../Pages_LandCert/TahapanProsesBpnList.aspx">Tahapan Proses BPN</a></li>
        <%}%>

         <%if (TahapanPerolehanProduk.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_LandCert/TahapanPerolehanProdukList.aspx">Tahapan Perolehan Produk</a></li>
        <%}%>			          
                     </ul>
              </li>

<%}%>	




<%if (  TopPriority.ToString().Equals("1") ||
        FiveYears.ToString().Equals("1") ||
        LOM.ToString().Equals("1") ||
        Other.ToString().Equals("1") ||
        MapAI.ToString().Equals("1") ||
        MapBC.ToString().Equals("1") ||
        MapMIP.ToString().Equals("1") ||
        groups.ToString().Equals("1")
      )
{    
%>


              <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Land Map</span>
                      </a>
                      <ul class="sub">
         <%if (MapAI.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_LandMap/almisgis/index.html">Map Adaro Indonesia</a></li>
        <%}%>

         <%if (MapBC.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="#">Map Balangan Coal</a></li>
        <%}%>

         <%if (MapMIP.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="#">Map Mustika Indah Permai</a></li>
        <%}%>

<%if (  TopPriority.ToString().Equals("1") ||
        FiveYears.ToString().Equals("1") ||
        LOM.ToString().Equals("1") ||
        Other.ToString().Equals("1") ||
        groups.ToString().Equals("1")
      )
{    
%>
                       <li><a href="javascript:;" >Map Land Compensation </a>
                        <ul class="sub">

         <%if (TopPriority.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Map_Landcomp/Top.aspx">Top Priority</a></li>
        <%}%>

         <%if (FiveYears.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Map_Landcomp/FiveYear.aspx">Five Years</a></li>
        <%}%>

         <%if (LOM.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Map_Landcomp/LOM.aspx">LOM</a></li>
        <%}%>

         <%if (Other.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Map_Landcomp/Other.aspx">Other</a></li>
        <%}%>

					    </ul>
                        </li>
<%}%>

                      </ul>
              </li>

<%}%>



<%if (ReportPraRegistrasi.ToString().Equals("1") ||
        ReportPengecekanLapangan.ToString().Equals("1") ||
        ReportRegistrasi.ToString().Equals("1") ||
        ReportPengukuranT0.ToString().Equals("1") ||
        ReportNegosiasi.ToString().Equals("1") ||
        ReportVerifikasi.ToString().Equals("1") ||
        ReportFinalisasi.ToString().Equals("1") ||
        groups.ToString().Equals("1")
      )
{    
%>
              <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Report</span>
                      </a>
                      <ul class="sub">


<%if (ReportPraRegistrasi.ToString().Equals("1") ||
        ReportPengecekanLapangan.ToString().Equals("1") ||
        ReportRegistrasi.ToString().Equals("1") ||
        ReportPengukuranT0.ToString().Equals("1") ||
        ReportNegosiasi.ToString().Equals("1") ||
        ReportVerifikasi.ToString().Equals("1") ||
        ReportFinalisasi.ToString().Equals("1") ||
        groups.ToString().Equals("1")
      )
{    
%>
                        <li><a href="javascript:;" >Land Compensation Report</a>
                      <ul class="sub">


         <%if (ReportPraRegistrasi.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Reoprt_Landcomp/R_PraRegistrasi.aspx">Report Praregistrasi</a></li>
        <%}%>

         <%if (ReportPengecekanLapangan.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Reoprt_Landcomp/R_PengecekanLapangan.aspx">Report Pengecekan Lapangan</a></li>
        <%}%>

         <%if (ReportRegistrasi.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Reoprt_Landcomp/R_Registrasi.aspx">Report Registrasi</a></li>
                        <li><a href="../Pages_Reoprt_Landcomp/R_Registrasi_detail.aspx">Report Registrasi Detail</a></li>
        <%}%>

         <%if (ReportPengukuranT0.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Reoprt_Landcomp/R_Pengukuran.aspx">Report Pengukuran T0</a></li>
        <%}%>

         <%if (ReportNegosiasi.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Reoprt_Landcomp/R_PraNegosiasi.aspx">Report Negosiasi</a></li>
                        <li><a href="../Pages_Reoprt_Landcomp/R_Negosiasi.aspx">Report Negosiasi Detail</a></li>
        <%}%>

         <%if (ReportVerifikasi.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Reoprt_Landcomp/R_Visum.aspx">Report Verifikasi</a></li>
                        <li><a href="../Pages_Reoprt_Landcomp/R_Visum_detail.aspx">Report Verifikasi Detail</a></li>
        <%}%>

         <%if (ReportFinalisasi.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Reoprt_Landcomp/R_LCR.aspx">Report Finalisasi</a></li>
                        <li><a href="../Pages_Reoprt_Landcomp/R_LCR_detail.aspx">Report Finalisasi Detail</a></li>
        <%}%>                      
                      </ul>
                        </li>
<%}%> 


                      </ul>
              </li>

<%}%> 




<%if (  MasterIdentitas.ToString().Equals("1") ||
        UserManagement.ToString().Equals("1") ||
        GroupManagement.ToString().Equals("1") ||
        MasterMenu.ToString().Equals("1") ||
        MasterCodes.ToString().Equals("1") ||
        groups.ToString().Equals("1")
      )
{    
%>
              <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>Admin Tools</span>
                      </a>
                      <ul class="sub">
         <%if (MasterIdentitas.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Admintools/MasterIdentitasList.aspx">Master Identitas</a></li>
        <%}%>

         <%if (UserManagement.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Admintools/UserManagementList.aspx">User Management</a></li>
        <%}%>

         <%if (GroupManagement.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Admintools/GroupManagementList.aspx">Group Management</a></li>
        <%}%>

         <%if (MasterMenu.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Admintools/MasterMenu.aspx">Master Menu</a></li>
        <%}%>

         <%if (MasterCodes.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Admintools/CodesModul.aspx">Master Codes</a></li>
        <%}%>

         <%if (MasterPerusahaan.ToString().Equals("1") || groups.ToString().Equals("1"))
         { %> 
                        <li><a href="../Pages_Admintools/MasterPerusahaanList.aspx">Master Perusahaan</a></li>
        <%}%>


         <li><a href="../Pages_Admintools/MasterReminderList.aspx">Master Reminder</a></li>

         <%--<li><a href="../Pages_Admintools/MasterReminderForm.aspx">Master Reminder</a></li>--%>

                      </ul>
              </li>

<%}%> 

        <li class="sub-menu">
             <a href="http://Viky-PC/Help" target="_blank">
                <i class="fa fa-cogs"></i>
                <span>Help</span>

            </a>
          </li>


  
				  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside> 
      <!--sidebar end-->
   
<%--    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>--%>

       <form role="form" class="form-horizontal" action="#" id="form1" runat="server">
        <div id="backLookup" style="background-image: url(../img/backGroundGelap.png); width: 0px; height: 0px; visibility: visible; position: relative; z-index: -1;"></div>
        <div id="lookup" style="width: 0px; height: 0px; visibility: hidden; 
            -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
            -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border: 1px solid #000;">
            <div id="judul" style="background-color: #ababab; vertical-align: middle; position: relative; height: 25px;
                -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
                margin-left: 0px; padding-left: 10px; padding-right: -10px;">
            </div>
                <div id="contentLookup" style="vertical-align: middle; position: relative; height: 265px; margin-top: 5px; margin-left: 5px; margin-right: 5px;">
                    <div style="padding-top: 5px; padding-left: 5px;">
                        <input type='text' id='lookupKey' value='' onkeypress="enterPressed(event,'lookupSearch(document.getElementById(\'lookupKey\').value);');" />&nbsp;&nbsp;
                        <input type='button' onclick="lookupSearch(document.getElementById('lookupKey').value);" value='Cari' />
                        &nbsp;&nbsp;<input type="button" value="Tutup" onclick="hideLookup('lookup');" />
                        <a href="../Pages_Admintools/MasterIdentitasForm.aspx?param1=I">
                        <input type="button" value="Tambah Baru"/>
                        </a>
                       
                    </div>
                    <div style=" width:100%; height:228px;">
                    <div id="gridLookup" style="width:100%;height:100%;background-color:white;"></div>
                    </div>
                </div>
        </div>
        <div id="loadDiv" style="width: 0px; height: 0px; visibility:hidden;">
            <img src="../img/circle.gif" alt="Loading..." style="position:relative;" />
            <!--img src="../img/circle.gif" alt="Loading..." style="position:relative;" /-->
        </div>

        <%--utk modul prareg dan registrasi--%>

        <div id="backLookup2" style="background-image: url(../img/backGroundGelap.png); width: 0px; height: 0px; visibility: visible; position: relative; z-index: -1;"></div>
        <div id="lookup2" style="width: 0px; height: 0px; visibility: hidden; 
            -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
            -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border: 1px solid #000;">
            <div id="judul2" style="background-color: red; vertical-align: middle; position: relative; height: 25px;
                -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
                margin-left: 0px; padding-left: 10px; padding-right: -10px;">
            </div>
                <div id="contentLookup2" style="vertical-align: middle; position: relative; height: 265px; margin-top: 5px; margin-left: 5px; margin-right: 5px;">
                    <div style="padding-top: 5px; padding-left: 5px;">
                        <input type='text' id='lookupKey2' value='' onkeypress="enterPressed(event,'lookupSearch2(document.getElementById(\'lookupKey2\').value);');" />&nbsp;&nbsp;
                        <input type='button' onclick="lookupSearch2(document.getElementById('lookupKey2').value);" value='Cari' />
                        &nbsp;&nbsp;<input type="button" value="Tutup" onclick="hideLookup('lookup2');" />
                    </div>
                    
                    <div style=" width:100%; height:228px;">
                    <div id="gridLookup2" style="width:100%;height:100%;background-color:white;"></div>
                    </div>

                </div>
        </div>
        <div id="loadDiv2" style="width: 0px; height: 0px; visibility:hidden;">
            <img src="../img/circle.gif" alt="Loading..." style="position:relative;" />
            <!--img src="../img/circle.gif" alt="Loading..." style="position:relative;" /-->
        </div>
 <section id="main-content">
     <section class="wrapper">
                      
                <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
                </asp:ContentPlaceHolder>

           </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->
    </form>
    
    <!-- js placed at the end of the document so the pages load faster -->
<%--    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jjquery-1.8.3.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>--%>


    <script src="../Css/tampilan/js/jquery.js"></script>
    <script src="../Css/tampilan/js/jquery-1.8.3.min.js"></script>
    <script src="../Css/tampilan/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="../Css/tampilan/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="../Css/tampilan/js/jquery.scrollTo.min.js"></script>
    <script src="../Css/tampilan/js/jquery.nicescroll.js"></script>
    <!--common script for all pages-->
  <%--  <script src="assets/js/common-scripts.js"></script>--%>

    <script src="../Css/tampilan/js/common-scripts.js"></script>

    <%--script google api untuk datepicker--%>
    <%--<script src="../Css/js/1.6/jquery.min.js" type="text/javascript"></script>--%>
    <link href="../Css/js/1.8/jquery-ui.css" rel="stylesheet" type="text/CSS" />
    <script src="../Css/js/1.8/jquery-ui.min.js" type="text/javascript"></script>
    <%--akhir--%>


          <script type="text/javascript">


              //$(document).ready(function () {
              //    $(document).click(function (event) {
              //        var clickover = $(event.target);
              //        var _opened = $(".navbar-collapse").hasClass("navbar-collapse in");
              //        if (_opened === true && !clickover.hasClass("navbar-toggle")) {
              //            $("button.navbar-toggle").click();
              //        }
              //    });
              //});

              //var menu = document.querySelector('.sub');
              //var anchors = menu.getElementsByTagName('a');

              //for (var i = 0; i < anchors.length; i += 1) {
              //    anchors[i].addEventListener('click', function () { clickHandler(anchors[i]) }, false);
              //}

              //function clickHandler(anchor) {
              //    var hasClass = anchor.getAttribute('class');
              //    if (hasClass !== 'active') {
              //        anchor.setAttribute('class', 'active');
              //    }
              //}

          </script>



</body>
</html>
